<!-- app/views/groups/_expenses.html.erb -->
<div class="bg-white rounded-lg shadow-lg p-6 border border-indigo-300 transition duration-300 ease-in-out transform hover:-translate-y-1 hover:shadow-xl">
  <div class="flex justify-between items-center mb-4">
    <h2 class="text-2xl font-semibold text-indigo-700">Expenses</h2>
    <%= link_to 'Add New Expense', new_group_expense_path(group), class: "bg-indigo-500 text-white px-4 py-2 rounded hover:bg-indigo-600 transition duration-200" %>
  </div>
  <div class="overflow-x-auto">
    <table class="w-full">
      <thead>
      <tr class="bg-gray-100">
        <th class="p-2 text-left text-indigo-700">Description</th>
        <th class="p-2 text-right text-indigo-700">Amount</th>
        <th class="p-2 text-right text-indigo-700">Paid By</th>
        <th class="p-2 text-right text-indigo-700">Date</th>
      </tr>
      </thead>
      <tbody>
      <% expenses.each do |expense| %>
        <tr class="bg-indigo-50 border-t border-indigo-200 transition duration-300 ease-in-out hover:bg-indigo-100 hover:shadow-md">
          <td class="p-2"><%= expense.description %></td>
          <td class="p-2 text-right"><%= number_to_currency(expense.amount) %></td>
          <td class="p-2 text-right"><%= expense.user.full_name %></td>
          <td class="p-2 text-right"><%= expense.date.strftime("%b %d, %Y") %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>