<!-- app/views/expenses/index.html.erb -->
<h1>Expenses for <%= @group.name %></h1>

<%= link_to 'Add New Expense', new_group_expense_path(@group) %>

<% @expenses.each do |expense| %>
  <div>
    <h2><%= link_to expense.description, group_expense_path(@group, expense) %></h2>
    <p>Amount: <%= number_to_currency(expense.amount) %></p>
    <p>Paid by: <%= expense.user.full_name %> on <%= expense.date %></p>
    <%= link_to 'Edit', edit_group_expense_path(@group, expense) %>
    <%= link_to 'Delete', group_expense_path(@group, expense), method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<%= link_to 'Back to Group', group_path(@group) %>
