<!-- app/views/expenses/new.html.erb -->
<h1>Add New Expense for <%= @group.name %></h1>

<%= render 'form', group: @group, expense: @expense %>

<%= link_to 'Back to Expenses', group_expenses_path(@group) %>

<!-- app/views/expenses/edit.html.erb -->
<h1>Edit Expense for <%= @group.name %></h1>

<%= render 'form', group: @group, expense: @expense %>

<%= link_to 'Show Expense', [@group, @expense] %> |
<%= link_to 'Back to Expenses', group_expenses_path(@group) %>