<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
<head>
  <title>FairShare</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
  <style>
      [x-cloak] { display: none !important; }
      .menu-dropdown-enter-active, .menu-dropdown-leave-active {
          transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
          transform-origin: top;
      }
      .menu-dropdown-enter-from, .menu-dropdown-leave-to {
          transform: scaleY(0);
          opacity: 0;
      }
      .menu-dropdown-enter-to, .menu-dropdown-leave-from {
          transform: scaleY(1);
          opacity: 1;
      }
      body {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
      }
      main {
          flex: 1 0 auto;
      }
  </style>
  <script>
      document.addEventListener("turbo:load", function() {
          Alpine.start();
      });
  </script>
</head>

<body class="flex flex-col min-h-screen bg-gray-100">
<header class="sticky top-0 z-50 w-full bg-primary dark:bg-primary-dark shadow-md">
  <nav x-data="{ mobileMenuOpen: false }">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between h-16">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <%= link_to "FairShare", root_path, class: "text-white text-2xl font-bold" %>
          </div>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <% if user_signed_in? %>
              <%= link_to "Dashboard", dashboard_path, class: "text-white hover:bg-primary-light hover:text-primary-dark px-3 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out" %>
              <%= link_to "Groups", groups_path, class: "text-white hover:bg-primary-light hover:text-primary-dark px-3 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out" %>
              <%= link_to "Chats", "#", class: "text-white hover:bg-primary-light hover:text-primary-dark px-3 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out" %>
              <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "text-white hover:bg-primary-light hover:text-primary-dark px-3 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out" %>
            <% else %>
              <%= link_to "Sign Up", new_user_registration_path, class: "text-white hover:bg-primary-light hover:text-primary-dark px-3 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out" %>
              <%= link_to "Log In", new_user_session_path, class: "text-white hover:bg-primary-light hover:text-primary-dark px-3 py-2 rounded-md text-sm font-medium transition duration-300 ease-in-out" %>
            <% end %>
          </div>
        </div>
        <div class="-mr-2 flex md:hidden">
          <button @click="mobileMenuOpen = !mobileMenuOpen" type="button" class="bg-primary-dark inline-flex items-center justify-center p-2 rounded-md text-white hover:bg-primary-light hover:text-primary-dark focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-primary focus:ring-white transition duration-300 ease-in-out" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div
      class="md:hidden absolute w-full bg-primary dark:bg-primary-dark shadow-lg"
      id="mobile-menu"
      x-show="mobileMenuOpen"
      x-transition:enter="menu-dropdown-enter-active"
      x-transition:enter-start="menu-dropdown-enter-from"
      x-transition:enter-end="menu-dropdown-enter-to"
      x-transition:leave="menu-dropdown-leave-active"
      x-transition:leave-start="menu-dropdown-leave-from"
      x-transition:leave-end="menu-dropdown-leave-to"
      @click.away="mobileMenuOpen = false"
      x-cloak
    >
      <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
        <% if user_signed_in? %>
          <%= link_to "Dashboard", dashboard_path, class: "text-white hover:bg-primary-light hover:text-primary-dark block px-3 py-2 rounded-md text-base font-medium transition duration-300 ease-in-out", data: { turbo: false } %>
          <%= link_to "Groups", groups_path, class: "text-white hover:bg-primary-light hover:text-primary-dark block px-3 py-2 rounded-md text-base font-medium transition duration-300 ease-in-out", data: { turbo: false } %>
          <%= link_to "Chats", "#", class: "text-white hover:bg-primary-light hover:text-primary-dark block px-3 py-2 rounded-md text-base font-medium transition duration-300 ease-in-out", data: { turbo: false } %>
          <%= button_to "Log Out", destroy_user_session_path, method: :delete, class: "text-white hover:bg-primary-light hover:text-primary-dark block w-full text-left px-3 py-2 rounded-md text-base font-medium transition duration-300 ease-in-out", data: { turbo: false } %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "text-white hover:bg-primary-light hover:text-primary-dark block px-3 py-2 rounded-md text-base font-medium transition duration-300 ease-in-out", data: { turbo: false } %>
          <%= link_to "Log In", new_user_session_path, class: "text-white hover:bg-primary-light hover:text-primary-dark block px-3 py-2 rounded-md text-base font-medium transition duration-300 ease-in-out", data: { turbo: false } %>
        <% end %>
      </div>
    </div>
  </nav>
</header>

<main class="flex-grow">
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <%= yield %>
  </div>
</main>

<footer class="bg-gray-800 text-white w-full">
  <div class="max-w-7xl mx-auto py-4 px-4 overflow-hidden sm:px-6 lg:px-8">
    <nav class="flex flex-wrap justify-center">
      <%= link_to "Terms of Service", "#", class: "px-6 py-2 text-sm text-gray-500 hover:text-gray-400 transition duration-300 ease-in-out" %>
      <%= link_to "Privacy Policy", "#", class: "px-6 py-2 text-sm text-gray-500 hover:text-gray-400 transition duration-300 ease-in-out" %>
      <%= link_to "Contact Us", "#", class: "px-6 py-2 text-sm text-gray-500 hover:text-gray-400 transition duration-300 ease-in-out" %>
    </nav>
    <p class="mt-8 text-center text-base text-gray-400">&copy; 2024 FairShare. All rights reserved.</p>
  </div>
</footer>
</body>
</html>